@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  /* border: 1px solid red; */
}

@media (max-width: 576px) {
  #boton-menu {
    position: absolute;
    top: 5vw;
    left: 2vw;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: all 0.5s;
  padding: 15px;
}

#filtros li {
  display: inline-block;
  list-style: none;
}
section {
  min-height: 100vh;
}

#nav-items i {
  color: gray;
  padding: 5vh 1vh 1vh 1vh;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  color: gray;
}

.col-3 li {
  list-style: none;
}
