@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  /* border: 1px solid red; */
}

body {
  background-image: url("");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: -1;
}

@media (max-width: 576px) {
  #boton-menu {
    position: absolute;
    top: 5vw;
    left: 2vw;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: all 0.5s;
  padding: 15px;
}

#filtros li {
  display: inline-block;
  list-style: none;
}
section {
  min-height: 100vh;
}

#nav-items i {
  color: gray;
  padding: 5vh 1vh 1vh 1vh;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  color: gray;
}

.tooltips li {
  list-style: none;
}

.container {
  padding: 3rem;
}

.imagen {
  display: block;
  width: 100%;
  padding-bottom: 0.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0.9);
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.thumbnail:hover {
  transform: translateY(-2px);
}

.img-container:hover .overlay {
  opacity: 1;
}
